<h1>New ezr_content_object</h1>

<% form_for(@ezr_content_object) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </p>
  <p>
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </p>
  <p>
    <%= f.label :ezr_content_class_id %><br />
    <%= f.text_field :ezr_content_class_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ezr_content_objects_path %>
