<p>
  <b>Identifier:</b>
  <%=h @ezr_content_object_attribute.identifier %>
</p>

<p>
  <b>Display name:</b>
  <%=h @ezr_content_object_attribute.display_name %>
</p>

<p>
  <b>Atype:</b>
  <%=h @ezr_content_object_attribute.atype %>
</p>

<p>
  <b>Ezr content object:</b>
  <%=h @ezr_content_object_attribute.ezr_content_object_id %>
</p>

<p>
  <b>Int value:</b>
  <%=h @ezr_content_object_attribute.int_value %>
</p>

<p>
  <b>Float value:</b>
  <%=h @ezr_content_object_attribute.float_value %>
</p>

<p>
  <b>String value:</b>
  <%=h @ezr_content_object_attribute.string_value %>
</p>

<p>
  <b>Text value:</b>
  <%=h @ezr_content_object_attribute.text_value %>
</p>


<%= link_to 'Edit', edit_ezr_content_object_attribute_path(@ezr_content_object_attribute) %> |
<%= link_to 'Back', ezr_content_object_attributes_path %>
